.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Form{
  background-color: #fff;
  color: #000;
  padding: 0 15px 0;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 400;
}

.title{
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

.radio{
  margin-right:5px;
}

.cont{
  width: 1330px;
}

 button{
   border-radius: 50%;
 }

.btn-bottom{
  margin: 15px 0;
  margin-left: 15px;
  width: 130px;
  border-radius: 25px;
}

.form-control{
  display: inline-block;
}

.refresh:hover{
  cursor:pointer;
}
.refresh{
  animation: refreshicon infinite 3s linear;
}

span{
  color: red;
  font-size: 18px;
}

.red{
  border: 1px solid red;
}

@keyframes refreshicon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
